<div class="col-md-8 col-md-offset-2">
  <h2 class="text-center">添写答案信息</h2>
  <%= simple_form_for [@choise] do |f| %>
    <%= f.input :name, placeholder: "请输入与试题相同的名字"%>
    <%= f.input :is_a1en, :label => "A" %>
    <%= f.input :is_b1en, :label => "B" %>
    <%= f.input :is_c1en, :label => "C" %>
    <%= f.input :is_d1en, :label => "D" %>
    <%= f.input :is_e1en, :label => "E" %>
    <%= f.input :is_f1en, :label => "F" %>
    <%= f.submit "Submit", class: "btn btn-default" %>
  <% end %>
</div>
