<!--- Header section  -->
<div class="container-fluid">
  <div class="row">
    <header class="main-header">
      <div class="header-inner">
        <div class="header-left pull-left">
          <!-- Search area -->
          <%= form_tag search_products_path , :method => :get, :class => "form-search" do %>
            <input type="text", class="search-input", name="q" value="<%= params[:q] %>" placeholder="请输入关键词搜索...">
            <button type="submit" class="search-icon">
              <span class="fa fa-search fa-lg"></span>
            </button>
          <% end %>
          <!-- End Search -->
        </div>
        <div class="header-center">

          <a href="/">幸 福 课 堂</a>
        </div>
        <div class="header-right pull-right">
          <ul class="nav navbar-nav navbar-right">
            <li>
              <%= link_to carts_path do %>
                购物车 <i class="fa fa-shopping-cart fa-lg"></i> (<%= current_cart.products.count %>)
              <% end %>
            </li>
            <% if !current_user %>
              <li>
                <div class="log-in">
                  <%= link_to("登录", new_user_session_path, class: "btn btn-xs header-user-item") %>
                </div>
              </li>
            <% else %>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  <% if current_user.nickname.present? %>
                    Hi, <%= current_user.nickname %>
                  <% else %>
                    Hi, <%= current_user.email %>
                  <% end %>
                  <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                  <% if current_user.admin? %>
                    <li>
                      <%= link_to(content_tag(:i, " 后台管理", class: "fa fa-lock"), admin_products_path) %>
                    </li>
                  <% end %>
                  <li>
                    <%= link_to(content_tag(:i, " 我的订单", class: "fa fa-history"), account_orders_path) %>
                  </li>
                  <li>
                    <%= link_to(content_tag(:i, " 我的收藏", class: "fa fa-gratipay"), favorites_path ) %>
                  </li>
                  <li><%= link_to(content_tag(:i, " 编辑账户", class: "fa fa-pencil-square-o"),edit_user_registration_path) %></li>
                  <li>
                    <%= link_to(content_tag(:i, " 账户登出", class: "fa fa-sign-out"), destroy_user_session_path, method: :delete) %>
                  </li>
                </ul>
              </li>
            <% end %>
          </ul>
        </div>
      </div>

      <%= render "common/flashes" %>
    </header>
    <!-- End of header section -->
  </div>
</div>



<!-- banner-v2 -->

<div class="banner-v2">
  <div class="banner-img">
    <img src="http://ww1.sinaimg.cn/large/006tNbRwgy1ffdty1pf8tj31hc0zkwkt.jpg" />
  </div>
  <div class="banner-detail">
    <!-- <h2 class="banner-logo ">
      banke
    </h2> -->
    <div  class="banner-slogan">
      <h1>
        <span class="sub-slogan "> 幸福课堂</span>--关注心理成长的学校
      </h1>
    </div>
    <div class="sign-up-button">
      <% if !current_user %>
        <%= link_to("马上注册", new_user_registration_path,  class: "btn btn-info") %>
      <% else %>
        <%= link_to(content_tag(:i, '马上行动', class: 'fa fa-hand-o-right'), products_path,  class: "btn btn-info") %>
      <% end %>
    </div>
  </div>
</div>


<!-- end of banner-v2 -->



<!-- test section -->



<!-- end of test section -->

<!-- our service and -->

<div id="service" class="row">

  <div class="module-name decorative">
    <span>我们能为您解决什么</span>
  </div>

  <div class="col-md-10 col-md-offset-1">
    <div class="row">
      <div class="col-md-4 ">
        <div class="service-item-img text-center">
          <img src="http://ww4.sinaimg.cn/large/006tNbRwly1ff9h6mc8lkj31kw11ygwz.jpg" class="round-image-160">
        </div>

        <div class="service-info text-center">
          <h4>焦虑</h4><br />
          <p>给身处大海深处焦虑的你一盏明灯</p>
          <p>帮您快速找到静谧的海岸 </p>
        </div>
     </div>

      <div class="col-md-4">
        <div class="service-item-img text-center">
          <img src="http://ww2.sinaimg.cn/large/006tNbRwly1ff9ghn6gntj31kw11ynpe.jpg" class="round-image-160">
        </div>

        <div class="service-info text-center">
          <h4>迷茫</h4><br />
          <p>给身处十字路口的你一个路标</p>
          <p>为您指引正确的方向</p>
        </div>

      </div>
      <div class="col-md-4">
        <div class="service-item-img text-center">
          <img src="http://ww4.sinaimg.cn/large/006tNc79ly1ff9glngwrvj31kw11x4qw.jpg" class="round-image-160">
        </div>

        <div class="service-info text-center">
          <h4>困惑</h4><br />
          <p>给正在攫取知识的你一个宽阔明朗的平台</p>
          <p>为您提供最优质清新的养分</p>
        </div>

    </div>
  </div>

</div>
</div>

<!-- end of our service -->



<!-- hot-products -->

<div class="row" id="hot-products">

  <div class="module-name decorative">
    <span>我们向您推荐</span>
  </div>
  <div class="container" style="margin-bottom:60px;">
      <div class="col-md-offset-1 col-md-10">
              <div id="myCarousel" class="carousel slide">

                  <!-- Carousel items -->
                  <div class="carousel-inner">
                      <div class="item active">
                          <div class="row">
                              <div class="col-sm-3">
                                <div class="product-card-block">
                                  <div class="img-block">
                                    <%= link_to product_path(@p1) do %>
                                    <% if @p1.photos.present? %>
                                        <%= image_tag(@p1.photos[0].image.thumb.url) %>
                                    <% else %>
                                      <%= image_tag("http://placehold.it/200x200&text=No Pic") %>
                                    <% end %>
                                    <% end %>
                                  </div>
                                  <div class="info-block">
                                    <p >
                                      <span  class="price" >￥ <%= @p1.price %> </span>
                                      <span class="like pull-right">
                                        <% if user_signed_in? %>
                                          <% if !current_user.is_fan_of?(@p1) %>
                                            <%= link_to favorite_product_path(@p1), :class => "like ",  method: :post do %>
                                              <i class="fa fa-heart fa-lg"></i><%= @p1.fans.count %>
                                            <% end %>
                                          <% else %>
                                            <%= link_to unfavorite_product_path(@p1), :class => "unlike ",method: :post do %>
                                              <i class="fa fa-heart fa-lg"></i><%= @p1.fans.count %>
                                            <% end %>
                                          <% end %>
                                        <% else %>
                                          <%= link_to favorite_product_path(@p1), :class => "like ",  method: :post do %>
                                            <i class="fa fa-heart fa-lg"></i><%= @p1.fans.count %>
                                          <% end %>
                                        <% end %>
                                      </span>
                                    </p>
                                  </div>
                                </div>
                              </div>
                              <div class="col-sm-3">
                                <div class="product-card-block">
                                  <div class="img-block">
                                    <%= link_to product_path(@p2) do %>
                                    <% if @p2.photos.present? %>
                                        <%= image_tag(@p2.photos[0].image.thumb.url) %>
                                    <% else %>
                                      <%= image_tag("http://placehold.it/200x200&text=No Pic") %>
                                    <% end %>
                                    <% end %>
                                  </div>
                                  <div class="info-block ">
                                    <p >
                                      <span  class="price" >￥ <%= @p2.price %> </span>
                                      <span class="like pull-right">
                                        <% if user_signed_in? %>
                                          <% if !current_user.is_fan_of?(@p2) %>
                                            <%= link_to favorite_product_path(@p2), :class => "like ",  method: :post do %>
                                              <i class="fa fa-heart fa-lg"></i><%= @p2.fans.count %>
                                            <% end %>
                                          <% else %>
                                            <%= link_to unfavorite_product_path(@p2), :class => "unlike ",method: :post do %>
                                              <i class="fa fa-heart fa-lg"></i><%= @p2.fans.count %>
                                            <% end %>
                                          <% end %>
                                        <% else %>
                                          <%= link_to favorite_product_path(@p2), :class => "like ",  method: :post do %>
                                            <i class="fa fa-heart fa-lg"></i><%= @p2.fans.count %>
                                          <% end %>
                                        <% end %>
                                      </span>
                                    </p>
                                  </div>
                                </div>
                              </div>
                              <div class="col-sm-3">
                                <div class="product-card-block">
                                  <div class="img-block">
                                    <%= link_to product_path(@p3) do %>
                                    <% if @p3.photos.present? %>
                                        <%= image_tag(@p3.photos[0].image.thumb.url) %>
                                    <% else %>
                                      <%= image_tag("http://placehold.it/200x200&text=No Pic") %>
                                    <% end %>
                                    <% end %>
                                  </div>
                                  <div class="info-block">
                                    <p >
                                      <span  class="price" >￥ <%= @p3.price %> </span>
                                      <span class="like pull-right">
                                        <% if user_signed_in? %>
                                          <% if !current_user.is_fan_of?(@p3) %>
                                            <%= link_to favorite_product_path(@p3), :class => "like ",  method: :post do %>
                                              <i class="fa fa-heart fa-lg"></i><%= @p3.fans.count %>
                                            <% end %>
                                          <% else %>
                                            <%= link_to unfavorite_product_path(@p3), :class => "unlike ",method: :post do %>
                                              <i class="fa fa-heart fa-lg"></i><%= @p3.fans.count %>
                                            <% end %>
                                          <% end %>
                                        <% else %>
                                          <%= link_to favorite_product_path(@p3), :class => "like ",  method: :post do %>
                                            <i class="fa fa-heart fa-lg"></i><%= @p3.fans.count %>
                                          <% end %>
                                        <% end %>
                                      </span>
                                    </p>
                                  </div>
                                </div>
                              </div>
                              <div class="col-sm-3">
                                <div class="product-card-block">
                                  <div class="img-block">
                                    <%= link_to product_path(@p4) do %>
                                    <% if @p4.photos.present? %>
                                        <%= image_tag(@p4.photos[0].image.thumb.url) %>
                                    <% else %>
                                      <%= image_tag("http://placehold.it/200x200&text=No Pic") %>
                                    <% end %>
                                    <% end %>
                                  </div>
                                  <div class="info-block">
                                    <p >
                                      <span  class="price" >￥ <%= @p4.price %> </span>
                                      <span class="like pull-right" >
                                        <% if user_signed_in? %>
                                          <% if !current_user.is_fan_of?(@p4) %>
                                            <%= link_to favorite_product_path(@p4), :class => "like ",  method: :post do %>
                                              <i class="fa fa-heart fa-lg"></i><%= @p4.fans.count %>
                                            <% end %>
                                          <% else %>
                                            <%= link_to unfavorite_product_path(@p4), :class => "unlike ",method: :post do %>
                                              <i class="fa fa-heart fa-lg"></i><%= @p4.fans.count %>
                                            <% end %>
                                          <% end %>
                                        <% else %>
                                          <%= link_to favorite_product_path(@p4), :class => "like ",  method: :post do %>
                                            <i class="fa fa-heart fa-lg"></i><%= @p4.fans.count %>
                                          <% end %>
                                        <% end %>
                                      </span>
                                    </p>
                                  </div>
                                </div>
                              </div>
                          </div>
                          <!--/row-->
                      </div>
                      <!--/item-->
                      <div class="item">
                          <div class="row">
                              <div class="col-sm-3"><div class="product-card-block">
                                <div class="img-block">
                                  <%= link_to product_path(@p5) do %>
                                  <% if @p5.photos.present? %>
                                      <%= image_tag(@p5.photos[0].image.thumb.url) %>
                                  <% else %>
                                    <%= image_tag("http://placehold.it/200x200&text=No Pic") %>
                                  <% end %>
                                  <% end %>
                                </div>
                                <div class="info-block">
                                  <p >
                                    <span  class="price" >￥ <%= @p5.price %> </span>
                                    <span class="like pull-right">
                                      <% if user_signed_in? %>
                                        <% if !current_user.is_fan_of?(@p5) %>
                                          <%= link_to favorite_product_path(@p5), :class => "like ",  method: :post do %>
                                            <i class="fa fa-heart fa-lg"></i><%= @p5.fans.count %>
                                          <% end %>
                                        <% else %>
                                          <%= link_to unfavorite_product_path(@p5), :class => "unlike ",method: :post do %>
                                            <i class="fa fa-heart fa-lg"></i><%= @p5.fans.count %>
                                          <% end %>
                                        <% end %>
                                      <% else %>
                                        <%= link_to favorite_product_path(@p5), :class => "like ",  method: :post do %>
                                          <i class="fa fa-heart fa-lg"></i><%= @p5.fans.count %>
                                        <% end %>
                                      <% end %>
                                    </span>
                                  </p>
                                </div>
                              </div>
                              </div>
                              <div class="col-sm-3">
                                <div class="product-card-block">
                                  <div class="img-block">
                                    <%= link_to product_path(@p6) do %>
                                    <% if @p4.photos.present? %>
                                        <%= image_tag(@p6.photos[0].image.thumb.url) %>
                                    <% else %>
                                      <%= image_tag("http://placehold.it/200x200&text=No Pic") %>
                                    <% end %>
                                    <% end %>
                                  </div>
                                  <div class="info-block">
                                    <p >
                                      <span  class="price" >￥ <%= @p6.price %> </span>
                                      <span class="like pull-right">
                                        <% if user_signed_in? %>
                                          <% if !current_user.is_fan_of?(@p6) %>
                                            <%= link_to favorite_product_path(@p6), :class => "like ",  method: :post do %>
                                              <i class="fa fa-heart fa-lg"></i><%= @p6.fans.count %>
                                            <% end %>
                                          <% else %>
                                            <%= link_to unfavorite_product_path(@p6), :class => "unlike ",method: :post do %>
                                              <i class="fa fa-heart fa-lg"></i><%= @p6.fans.count %>
                                            <% end %>
                                          <% end %>
                                        <% else %>
                                          <%= link_to favorite_product_path(@p6), :class => "like ",  method: :post do %>
                                            <i class="fa fa-heart fa-lg"></i><%= @p6.fans.count %>
                                          <% end %>
                                        <% end %>
                                      </span>
                                    </p>
                                  </div>
                                </div>
                              </div>
                              <div class="col-sm-3">
                                <div class="product-card-block">
                                  <div class="img-block">
                                    <%= link_to product_path(@p7) do %>
                                    <% if @p7.photos.present? %>
                                        <%= image_tag(@p7.photos[0].image.thumb.url) %>
                                    <% else %>
                                      <%= image_tag("http://placehold.it/200x200&text=No Pic") %>
                                    <% end %>
                                    <% end %>
                                  </div>
                                  <div class="info-block">
                                    <p >
                                      <span  class="price" >￥ <%= @p7.price %> </span>
                                      <span class="like pull-right">
                                        <% if user_signed_in? %>
                                          <% if !current_user.is_fan_of?(@p7) %>
                                            <%= link_to favorite_product_path(@p7), :class => "like ",  method: :post do %>
                                              <i class="fa fa-heart fa-lg"></i><%= @p7.fans.count %>
                                            <% end %>
                                          <% else %>
                                            <%= link_to unfavorite_product_path(@p7), :class => "unlike ",method: :post do %>
                                              <i class="fa fa-heart fa-lg"></i><%= @p7.fans.count %>
                                            <% end %>
                                          <% end %>
                                        <% else %>
                                          <%= link_to favorite_product_path(@p7), :class => "like ",  method: :post do %>
                                            <i class="fa fa-heart fa-lg"></i><%= @p7.fans.count %>
                                          <% end %>
                                        <% end %>
                                      </span>
                                    </p>
                                  </div>
                                </div>
                              </div>
                              <div class="col-sm-3">
                                <div class="product-card-block">
                                  <div class="img-block">
                                    <%= link_to product_path(@p8) do %>
                                    <% if @p8.photos.present? %>
                                        <%= image_tag(@p8.photos[0].image.thumb.url) %>
                                    <% else %>
                                      <%= image_tag("http://placehold.it/200x200&text=No Pic") %>
                                    <% end %>
                                    <% end %>
                                  </div>
                                  <div class="info-block">
                                    <p >
                                      <span  class="price" >￥ <%= @p8.price %> </span>
                                      <span class="like pull-right">
                                        <% if user_signed_in? %>
                                          <% if !current_user.is_fan_of?(@p8) %>
                                            <%= link_to favorite_product_path(@p8), :class => "like ",  method: :post do %>
                                              <i class="fa fa-heart fa-lg"></i><%= @p8.fans.count %>
                                            <% end %>
                                          <% else %>
                                            <%= link_to unfavorite_product_path(@p8), :class => "unlike ",method: :post do %>
                                              <i class="fa fa-heart fa-lg"></i><%= @p8.fans.count %>
                                            <% end %>
                                          <% end %>
                                        <% else %>
                                          <%= link_to favorite_product_path(@p8), :class => "like ",  method: :post do %>
                                            <i class="fa fa-heart fa-lg"></i><%= @p8.fans.count %>
                                          <% end %>
                                        <% end %>
                                      </span>
                                    </p>
                                  </div>
                                </div>
                              </div>
                          </div>
                          <!--/row-->
                      </div>
                      <!--/item-->


                  </div>
                  <!--/carousel-inner-->
                  <a class="left carousel-control" href="#myCarousel" data-slide="prev">‹</a>
                  <a class="right carousel-control" href="#myCarousel" data-slide="next">›</a>
              </div>
              <!--/myCarousel-->

      </div>
  </div>
</div>
  <!-- end of hot products -->



<!-- customer feedback -->

<div id="customer-feedback" class="row">
  <div class="module-name decorative">
    <span>我们的专业导师</span>
  </div>

  <div class="col-md-10 col-md-offset-1">
    <div class="row">
      <div class="col-md-4 ">
        <div class="fd-avatar-box text-center">
          <div class="fd-avatar-box-color-overlay"></div>
          <img src="http://ww2.sinaimg.cn/large/006tNbRwgy1ff9ewho17tj30fs0fswfa.jpg" class="round-image-74">
        </div>

        <div class="quote-box-1">
          <p><i class="fa fa-quote-left pull-left" aria-hidden="true"></i></p><br>
          <p class="feedback-info text-center">
            微信公众号：Xdite黑客成长<br>
            Facebook全球Hackathon冠军、打造全栈工程师的高手<br>
            全栈营创始人、极速读书创始人<br>
          </p>
          <p class="feedback-info text-center" style="font-size:16px;">
            - Xdite
          </p>
          <p><i class="fa fa-quote-right pull-right" aria-hidden="true"></i></p>
        </div>
     </div>

      <div class="col-md-4">
        <div class="fd-avatar-box text-center">
          <div class="fd-avatar-box-color-overlay"></div>
          <img src="http://ww4.sinaimg.cn/large/006tNbRwgy1ff9ewn4328j304t06cq31.jpg" class="round-image-74">
        </div>

        <div class="quote-box-1">
          <p><i class="fa fa-quote-left pull-left" aria-hidden="true"></i></p><br>
          <p class="feedback-info text-center">
            微信公众号：学习学习再学习<br>
            比特币大咖、连续创业者<br>
            天使投资人、新生大学创始人<br>
          </p>
          <p class="feedback-info text-center" style="font-size:16px;">
            - 李笑来
          </p>

          <p><i class="fa fa-quote-right pull-right" aria-hidden="true"></i></p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="fd-avatar-box text-center">
          <div class="fd-avatar-box-color-overlay"></div>
          <img src="http://ww2.sinaimg.cn/large/006tNbRwgy1ff9ewwgbp3j306w06wdfw.jpg" class="round-image-74">
        </div>

        <div class="quote-box-1">
          <p><i class="fa fa-quote-left pull-left" aria-hidden="true"></i></p><br>
          <p class="feedback-info text-center">
            微信公众号：罗辑思维<br>
            自媒体视频脱口秀《罗辑思维》主讲人<br>
            得到App创始人<br>
          </p>
          <p class="feedback-info text-center" style="font-size:16px;">
            - 罗振宇
          </p>
          <p><i class="fa fa-quote-right pull-right" aria-hidden="true"></i></p>
        </div>
      </div>
    </div>
  </div>

</div>

<!-- end of customer feedback -->

<!-- call-to-action -->

<div id="call-to-action" class="row">
  <div class="text-center">
    <%= link_to("立即听课 <i class='fa fa-arrow-right'></i>".html_safe, products_path, class: "btn btn-info btn-lg") %>
  </div>
</div>

<!-- end of call-to-action -->

<!-- question -->


<div id="question" class="row">
  <div class="module-name decorative">
    <span>FAQ</span>
  </div>
  <div class="col-md-10 col-md-offset-1">
    <div class="col-md-3 col-sm-6">
    <p class="sub-question"><b>Q：</b>课程如何报名，如何缴费？</p>
    <p class="answer"><b>A：</b>幸福课堂的上架课程均可添加进购物车，部分课程免费，付款课程付款成功后，即可参加该课程哦</p>
    </div>
    <div class="col-md-3 col-sm-6">
    <p class="sub-question"><b>Q：</b>可以自主选择知名大咖来讲座吗？</p>
    <p class="answer"><b>A：</b>幸福课堂为您提供最权威的业界大咖的幸福手册，您可以自主选择。如果您有更好的推荐，我们一定极力与他们合作，让您看到你心属的大咖为您提供他的幸福手册</p>
    </div>
    <div class="col-md-3 col-sm-6">
      <p class="sub-question"><b>Q：</b>付费后可以退款吗？</p>
      <p class="answer"><b>A：</b>幸福课堂为虚拟产品，如果您付款后，不给予退款哦</p>
    </div>
    <div class="col-md-3 col-sm-6">
      <p class="sub-question"><b>Q：</b>这里有线下活动吗？</p>
      <p class="answer"><b>A：</b>幸福课堂为满足伙伴们的需求，会定期在举行线下交流及公开讲座，让幸福贴近生活，走进你我</p>
    </div>
  </div>
</div>


<!-- End of question -->

<!--  Gotop index -->

<div class="index">
  <i class="fa fa-arrow-up"></i>
</div>

<!-- end of Gotop index -->

<!-- Footer -->


<div class="footer">
  <div class="copyright">
    <div class="design">
      <span><a href="https://github.com/cinly/jdstore" target="_blank">Github仓库</a></span>  <span><%= link_to '关于我们', about_path %></span>  <span><%= link_to '联系我们', about_path %></span>
      <p>@Copyright 2017 幸福课堂 由<span>马鑫磊</span> 和 <span>trony</span>共同打造</p>
      <p>幸福伴您一生</p>
    </div>
  </div>
</div>

<!-- End of Footer -->
